
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="canonical" href="https://weather-pwa-sample.firebaseapp.com/final/">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Atividades em casa</title>
        <link rel="stylesheet" type="text/css" href="/css/login.css">

        <!-- TODO add manifest here -->

    </head>
    <body>

        <div class="top-social">
            <a href="{{ hwi_oauth_login_url('facebook') }}" class="btn btn-block btn-social btn-facebook" onclick="ga('aurynTracker.send', 'event', {eventCategory: '_trackEvent', eventAction: 'click', eventLabel: 'btn-facebook', transport: 'beacon'});">
                <span class="fa fa-facebook"></span>Entrar com Facebook
            </a>
            <a href="{{ hwi_oauth_login_url('google') }}" class="btn btn-block btn-social btn-google" onclick="ga('aurynTracker.send', 'event', {eventCategory: '_trackEvent', eventAction: 'click', eventLabel: 'btn-google', transport: 'beacon'});">
                <span class="fa fa-google"></span>Entrar com Google
            </a>
        </div>

    </body>
</html>